<div class="main-container" data-block="about-title">
    <div class="sws-container">
        <div class="col-sm-12">
        </div>
    </div>
</div>
<div class="" data-block="about-info">
    <div class="sws-container">
        <div class="col-sm-12">
            <div class="col-sm-12 about-col">
                <h3 class="text-center">About Us</h3>
                <p class="text-justify">
                    Swasam Bookart is an Leading Books Importer and Distributor Children's Bookstore with collection of over 2,00,000 books at extremely affordable prices from more than 5,000 authors. We offer huge variety of books like Fiction, Non Fiction, GK, Activity, Paperback, Hard Cover, Board Book, etc., in wholesale and retail with prompt delivery &amp; pro-active customer support services. We believe the way we work makes our books different from other children's books, and this is what makes them so well loved.
                </p>
                <p class="text-justify">
                    Our books are available at the mentioned address or online via swasambookart.com, Amazon. Please check out the events section for more details.
                </p>
            </div>
            <!--<ng-image-slider [images]="imageObject" #nav></ng-image-slider>-->
            <div class="col-sm-9 about-col text-center addpadding">
                <h3 class="">Our Clients</h3>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <img src="/assets/images/clients/Velammalvidhya_logo.png" alt="Trolltunga Norway">
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <img src="/assets/images/clients/VelammalEducationalTrust.png" alt="Trolltunga Norway">
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <img src="/assets/images/clients/bvs-logo.png" alt="Trolltunga Norway">
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <img src="/assets/images/clients/aristo.png" alt="Trolltunga Norway">
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <img src="/assets/images/clients/vgs_logo_resize.jpg" alt="Trolltunga Norway">
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <img src="/assets/images/clients/logo.jpg" alt="Trolltunga Norway">
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <img src="/assets/images/clients/christwood-school.png" alt="Trolltunga Norway">
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <img src="/assets/images/clients/logs_lm.png" alt="Trolltunga Norway">
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <img src="/assets/images/clients/justreadlogo.jpg" alt="Trolltunga Norway">
                    
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <h4>Mahatma Gandhi Memorial School </h4>
                    <h5>Manali, Chennai</h5>
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <h4>The Child</h4>
                    <h5>An American Montessori Preschool</h5>
                    <h5>Nemilichery-Chrompet, Chennai</h5>
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <h4>Little Kids International Learning Center</h4>
                    <h5>Selaiyur, Chennai</h5>
                </div>
                <div class="client-container col-md-3 col-sm-2 col-xs-12">
                    <h4>Sprouts Playschool</h4>
                    <h5>Nemilichery-Chrompet, Chennai</h5>
                </div>
            </div>
            <div class="col-sm-3 about-col addpadding">
                <h3 class="text-center">Recent Events</h3>
                <ul class="events">
                    <li class="list-group-item"><strong>"Kids Book Fair"</strong> on 1st Apr at The Child An American Montessori Preschool, Nemilichery-Chrompet, Chennai</li>
                    <li class="list-group-item"><strong>"March Mega Fair"</strong> on 11th Mar at Arihant Frangipani, Siruseri, Chennai</li>
                    <li class="list-group-item"><strong>"Kids Mega Fair"</strong> on 4th Mar at Little Millennium, Medavakkam, Chennai</li>
                    <li class="list-group-item"><strong>"Stunning Sep Sale"</strong> on 3rd Sep at Cosmo City, Chennai</li>
                    <li class="list-group-item"><strong>"Great Book Fair"</strong> on 10th Sep at Vriksha, Kovilambakkam, Chennai</li>
                    <li class="list-group-item"><strong>"Kids Book Fair"</strong> on 21st Aug at Parsn, Chennai</li>
                    <li class="list-group-item"><strong>"Mega Book Fair"</strong> on 6th Aug at DABC Orchid, Chennai</li>
                    <li class="list-group-item"><strong>"Book Fair"</strong> on 3rd July at Mithra Apartments, Chennai</li>
                    <li class="list-group-item"><strong>"Book Fair"</strong> on 25th June at DABC Acacia, Chennai</li>
                    <li class="list-group-item"><strong>"Book Fair"</strong> on 19th June at DABC BeGoNiA, Chennai</li>
                    <li class="list-group-item"><strong>"Mega Book Fair"</strong> on 12th June at Casa Grande Urbano, Chennai</li>
                    <li class="list-group-item"><strong>"Great Book Fair"</strong> on 21st May at Kovilambakkam, Chennai</li>
                    <li class="list-group-item"><strong>"Book Fair"</strong> on 12th May at Navins Merryland, Chennai</li>
                </ul>
            </div>
            <div class="gototop" style="display: none;"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></div>
        </div>
    </div>
</div>