
<div class="main-container"  data-module="contact-page">
    <div class="" data-block="contact-title">
        <div class="sws-container">
        </div>
    </div>
    <div class="" data-block="contact-info">
        <div class="sws-container">
            
            <aside class="col-sm-5" id="contact-info">
                    <ul class="nav nav-pills nav-justified">
                            <li><a class="pointer-cursor active"    (click)="toggleAccordion('#ponmar')">Ponmar</a></li>
                            <li><a class="pointer-cursor"     (click)="toggleAccordion('#karapakkam')">Karapakkam</a></li>
                            <li><a  class="pointer-cursor"    (click)="toggleAccordion('#erode')">Erode</a></li>
                            <li><a  class="pointer-cursor"    (click)="toggleAccordion('#USA')">USA</a></li>
                          </ul>
                <dl id="ponmar" class="collapse in"> 
                    <dt>Email</dt>
                    <dd><a href="mailto:salesponmar@swasambookart.com" title="Click to send us an email">sales@swasambookart.com</a></dd>
                    <dd><a href="mailto:customerservice@swasambookart.com" title="Click to send us an email">customerservice@swasambookart.com</a></dd>
                    <dt>Telephone</dt>
                    <dd><a href="tel:+918148066645" title="Click to call us">+91 81480-66645</a></dd>
                    <dd><a href="tel:+918148066646" title="Click to call us">+91 81480-66646</a></dd>
                    <dt>Address</dt>
                    <dd>
                        <address>
                     Swasam Bookart,<br>
                     #5, Castle Valley,<br>
                     Near Casa Grande,<br>
                     Vengadamangalam Main Road,<br>
                     Ponmar, Chennai - 600 127.
                  </address>
                    </dd>
                    <dd class="social-links">
                        <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/groups/swasambookart"><span class="fa fa-facebook"></span></a>
                        <a class="btn btn-social-icon btn-twitter" target="_blank" href="https://twitter.com/swasambookart"><span class="fa fa-twitter"></span></a>
                        <a class="btn btn-social-icon btn-google" target="_blank" href="https://plus.google.com/communities/103317081103083340023"><span class="fa fa-google-plus"></span></a>
                        <a class="btn btn-social-icon btn-whatsapp" target="_blank" href="#"><span class="fa fa-whatsapp"></span></a>
                    </dd>
                </dl>
                <dl id="karapakkam" class="collapse">
                        <dt>Email</dt>
                        <dd><a href="mailto:saleskarapakkam@swasambookart.com" title="Click to send us an email">sales@swasambookart.com</a></dd>
                        <dd><a href="mailto:customerservice@swasambookart.com" title="Click to send us an email">customerservice@swasambookart.com</a></dd>
                        <dt>Telephone</dt>
                        <dd><a href="tel:+918148066645" title="Click to call us">+91 81480-66645</a></dd>
                        <dd><a href="tel:+918148066646" title="Click to call us">+91 81480-66646</a></dd>
                        <dt>Address</dt>
                        <dd>
                            <address>
                         Swasam Bookart,<br>
                         #5, Castle Valley,<br>
                         Near Casa Grande,<br>
                         Vengadamangalam Main Road,<br>
                         Ponmar, Chennai - 600 127.
                      </address>
                        </dd>
                        <dd class="social-links">
                            <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/groups/swasambookart"><span class="fa fa-facebook"></span></a>
                            <a class="btn btn-social-icon btn-twitter" target="_blank" href="https://twitter.com/swasambookart"><span class="fa fa-twitter"></span></a>
                            <a class="btn btn-social-icon btn-google" target="_blank" href="https://plus.google.com/communities/103317081103083340023"><span class="fa fa-google-plus"></span></a>
                            <a class="btn btn-social-icon btn-whatsapp" target="_blank" href="#"><span class="fa fa-whatsapp"></span></a>
                        </dd>
                    </dl>
                    <dl id="erode" class="collapse">
                            <dt>Email</dt>
                            <dd><a href="mailto:saleserode@swasambookart.com" title="Click to send us an email">sales@swasambookart.com</a></dd>
                            <dd><a href="mailto:customerservice@swasambookart.com" title="Click to send us an email">customerservice@swasambookart.com</a></dd>
                            <dt>Telephone</dt>
                            <dd><a href="tel:+918148066645" title="Click to call us">+91 81480-66645</a></dd>
                            <dd><a href="tel:+918148066646" title="Click to call us">+91 81480-66646</a></dd>
                            <dt>Address</dt>
                            <dd>
                                <address>
                             Swasam Bookart,<br>
                             #5, Castle Valley,<br>
                             Near Casa Grande,<br>
                             Vengadamangalam Main Road,<br>
                             Ponmar, Chennai - 600 127.
                          </address>
                            </dd>
                            <dd class="social-links">
                                <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/groups/swasambookart"><span class="fa fa-facebook"></span></a>
                                <a class="btn btn-social-icon btn-twitter" target="_blank" href="https://twitter.com/swasambookart"><span class="fa fa-twitter"></span></a>
                                <a class="btn btn-social-icon btn-google" target="_blank" href="https://plus.google.com/communities/103317081103083340023"><span class="fa fa-google-plus"></span></a>
                                <a class="btn btn-social-icon btn-whatsapp" target="_blank" href="#"><span class="fa fa-whatsapp"></span></a>
                            </dd>
                        </dl>
                        <dl id="USA" class="collapse">
                                <dt>Email</dt>
                                <dd><a href="mailto:salesUSA@swasambookart.com" title="Click to send us an email">sales@swasambookart.com</a></dd>
                                <dd><a href="mailto:customerservice@swasambookart.com" title="Click to send us an email">customerservice@swasambookart.com</a></dd>
                                <dt>Telephone</dt>
                                <dd><a href="tel:+918148066645" title="Click to call us">+91 81480-66645</a></dd>
                                <dd><a href="tel:+918148066646" title="Click to call us">+91 81480-66646</a></dd>
                                <dt>Address</dt>
                                <dd>
                                    <address>
                                 Swasam Bookart,<br>
                                 #5, Castle Valley,<br>
                                 Near Casa Grande,<br>
                                 Vengadamangalam Main Road,<br>
                                 Ponmar, Chennai - 600 127.
                              </address>
                                </dd>
                                <dd class="social-links">
                                    <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/groups/swasambookart"><span class="fa fa-facebook"></span></a>
                                    <a class="btn btn-social-icon btn-twitter" target="_blank" href="https://twitter.com/swasambookart"><span class="fa fa-twitter"></span></a>
                                    <a class="btn btn-social-icon btn-google" target="_blank" href="https://plus.google.com/communities/103317081103083340023"><span class="fa fa-google-plus"></span></a>
                                    <a class="btn btn-social-icon btn-whatsapp" target="_blank" href="#"><span class="fa fa-whatsapp"></span></a>
                                </dd>
                            </dl>
            </aside>
        </div>
        <div class="feedback_container" data-block="cust-info">
            <div class="sws-container">
                <div class="col-sm-10">
                    <h3 class="feedback_title text-center">Share your feedback</h3>
                    <form name="contact_info" class="form-horizontal" id="contact_info" role="form" (ngSubmit)="onContactFormSubmit(f)" #f="ngForm">
                        <div class="form-inner-container">
                            <input type="hidden" class="form-control" id="totalPrce">
                            <div class="form-group">
                                <label for="contactname" class="control-label col-sm-2">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="contactname"
                                    name="contactname"
                                    ngModel
                                    #contactname="ngModel"
                                    placeholder="Enter your Name" required/>
                                    <div [hidden]="contactname.valid || contactname.pristine"  class="col-xs-12 alert alert-danger m-0">Enter valid name without any special charercters or numbers</div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="contactemail" class="control-label col-sm-2">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" [pattern]="emailPattern"
                                    id="contactemail"
                                    name="contactemail" placeholder="Enter your Email Id"
                                    ngModel
                                    #contactemail="ngModel"
                                    required/>
                                      <div [hidden]="contactemail.valid || contactemail.pristine"  class="col-xs-12 alert alert-danger m-0">Enter valid Email</div>
                                </div>
                            </div>
                            <div class="form-group mobile">
                                <label for="contactmobile" class="control-label col-sm-2">Mobile</label>
                                <div class="col-sm-10">
                                    <input type="text" value="+91" disabled="disabled" class="form-control country-code">
                                    <input type="text" maxlength="10" class="form-control mobile-number" id="contactmobile" name="contactmobile" placeholder="Enter your Contact Number"
                                    oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                    ngModel
                                    #contactmobile="ngModel"
                                    required/>
                                    <div [hidden]="contactmobile.valid || contactmobile.pristine"  class="col-xs-12 alert alert-danger m-0">Enter valid 10 digit mobile number</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contactcomment" class="control-label col-sm-2">Comment</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="" id="contactcomment" name="contactcomment" placeholder="Enter your comment" value=""></textarea>
                                </div>
                            </div>
                            <button [disabled]="!f.valid" type="submit" id="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> <span>&nbsp;Submit</span></button>
                        </div>
                    </form>                    
                </div>
                <!--  <div class="col-sm-6 customer_info"></div>  -->
            </div>

        </div>
    </div>
    <div class="gototop"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></div>
</div>
