

<div class="HomeSliderContainer">
    <div class="bxslider1">
        <div class="kids-slider slide1">
            <a class="slider_link" href="#/giftfinder"></a>
        </div>
        <div class="kids-slider slide2">
            <a class="slider_link" href="#/offers"></a>
        </div>
        <div class="kids-slider slide3">
            <a class="slider_link" target="_blank" href="https://www.facebook.com/groups/swasambookart"></a>
        </div>
        <div class="kids-slider slide4">
            <a class="slider_link" href="#/projects"></a>
        </div>
    </div>
</div>
<div class="sliders-container sws-container">
        <div class="col-sm-12" attr.data-block="" style="margin-top: 15px">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                    <a class="promosAnchor text-uppercase text-center" attr.data-toggle="collapse" attr.data-parent="#accordion">Books & E-Learning
                        
                    </a>
                  </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body pd-0" style="height: auto;">                        
                                  <div class="col-sm-6 pd-0">
                                      <img routerLink='/text-books' [queryParams]="{query:'ncert'}" class="img-responsive pointer-cursor" src="assets/images/Home/ncert.jpg">
                                 </div>  
                                 <div class="col-sm-6 pd-0">
                                        <img routerLink='/text-books' class="img-responsive pointer-cursor" src="assets/images/Home/text.jpg">
                                   </div>  
                                   <div class="col-sm-6 pd-0">
                                        <img class="img-responsive pointer-cursor" src="assets/images/Home/compet.jpg">
                                   </div>
                                   <div class="col-sm-6 pd-0">
                                        <img class="img-responsive pointer-cursor" src="assets/images/Home/school_guides_preparation.jpg">
                                   </div>                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="col-sm-12" attr.data-block="" style="margin-top: 15px">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
            <a class="promosAnchor" attr.data-toggle="collapse" attr.data-parent="#accordion">HOT DEALS
                <span routerLink='/home/hot-deals' [queryParams]="{ hotDeal: 'all' }" class="pull-right pointer-cursor" style="text-transform:initial">See more...</span>
            </a>
          </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">                        
                          <app-hot-deals></app-hot-deals>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" attr.data-block="">
        <div class="col-sm-12">
            <div class="panel panel-default BestBooksContainer">
                <div class="panel-heading">
                    <h4 class="panel-title">
                  <a class="promosAnchor" attr.data-toggle="collapse" attr.data-parent="#accordion">BEST BOOKS OF THE MONTH
                        <span routerLink='best-books-of-the-month' [queryParams]="{ BBM: 'all' }" class="pull-right pointer-cursor" style="text-transform:initial">See more...</span>
                  </a>                   
                </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <app-best-book-of-month></app-best-book-of-month>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 pd-0" attr.data-block="">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
            <a class="promosAnchor" attr.data-toggle="collapse" attr.data-parent="#accordion">MOST WISHED FOR IN BOOKS
                    <span routerLink='/home/most-wished-books' [queryParams]="{ MWB: 'all' }" class="pull-right pointer-cursor" style="text-transform:initial">See more...</span>
            </a> </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">                        
                            <app-most-wished-books></app-most-wished-books>                       
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-5 col-md-3 hidden">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                  <a attr.data-toggle="collapse" attr.data-parent="#accordion">PART TIME JOB</a>                   
                </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="col-sm-12 vertical-slider  bxslider3" id="bxslider3">
                            <p class="text-justify"><b>Make extra money or build a substantial long-term income with Swasam Bookart at Home. </b></p>
                            <p class="text-justify">If you have a passion for children’s books, then why not join our team? As an Swasm Bookart Organiser, you can sell books at home parties, playgroups, public events, school book fairs, etc., the list is endless! And in return we’ll pay you generous rates of commission.</p>
                            <p class="text-justify"><b>You don't need a sales background - just a PASSION for books.</b></p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <div class="col-sm-12" attr.data-block="">
        <div class="">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
            <a class="promosAnchor" attr.data-toggle="collapse" attr.data-parent="#accordion">NEW RELEASES 
                <span routerLink='/home/new-releases' [queryParams]="{ NR: 'all' }" class="pull-right pointer-cursor" style="text-transform:initial" style="text-transform:initial">See more...</span></a>                  
          </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">                        
                          <app-new-releases></app-new-releases>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gototop"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></div>