<div class="main-container" data-block="about-title">
    <div class="sws-container">
        <div class="col-sm-12">
        </div>
    </div>
</div>
<div class="" data-block="about-info">
    <div class="sws-container">
        <div class="col-sm-12 ncert_container">
            <div class="col-sm-12 pd-0 about-col">
                <h3 class="">NCERT Books</h3>
                <p class="text-justify">
                    National Council of Educational Research and Training (NCERT) is an autonomous organization set up in 1961 by the Government of India to assist and advise the Central and State Governments on policies and programmes for qualitative improvement in school education. NCERT books are widely used in all schools across the country.
                </p>
            </div>          
            <div class="col-sm-12 pd-0 class-list">
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/1' class="classType" >Class 1</a></div>
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/2' class="classType" >Class 2</a></div>
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/3' class="classType" >Class 3</a></div>
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/4' class="classType" >Class 4</a></div>
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/5' class="classType" >Class 5</a></div>
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/6' class="classType" >Class 6</a></div>
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/7' class="classType" >Class 7</a></div>
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/8' class="classType" >Class 8</a></div>
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/9' class="classType" >Class 9</a></div>
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/10' class="classType" >Class 10</a></div>
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/11' class="classType" >Class 11</a></div>
                <div class="col-xs-6 col-sm-2" ><a routerLink='/ncert-books/class/12' class="classType" >Class 12</a></div>
              </div>
            
        </div>
    </div>
</div>